h1 {
	font-family: 'PT Serif', serif;
	font-weight: bold;
}
a {
	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
}
p {
	font-family: 'Roboto', sans-serif;
}
body {
margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  padding: 40px 0; 	
  display: flex;
  justify-content: space-between; 
}
.logo, .menu {
  display: inline-block;
}
.logo {
  width: 190px;
  height: 35px;
  background: url('logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
.main-content {
  padding-top: 206px;
  width: 37%;
}
.main-content__title {
  margin-bottom: 40px;
}
.main-content__subtitle {
  margin-bottom: 41px;
}
.main-content__item {
  margin-bottom: 40px;
}
