h1, div {
  font-family: 'PT Serif', serif;
  font-weight: Bold;
}
a {
	font-family: 'Roboto', sans-serif;
  font-weight: Medium;
}
p {
	font-family: 'Roboto', sans-serif;
  font-weight: Regular;
}
